* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ------- HEADER ------- */
header {
    background-image: url(/assets/icons/paisagem.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header img {
    height: 6rem;
    margin: 0.4rem;
}

a {
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem;
    color: white;
    transition: 300ms ease;
}

a:hover {
    opacity: 0.8;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;

    background: rgba(46, 67, 9, 0.813);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
}

.nav-list {
    display: flex;
    list-style: none;
    display: none;
}

.nav-list li {
    letter-spacing: 1px;
}

.mobile-menu {
    cursor: pointer;
}    

.mobile-menu div {
    width: 2rem;
    height: 2px;
    background: white;
    margin: 8px;
    border-radius: 1rem;
    transition: 300ms ease;
}

.nav-list {
    position: absolute;
    top: 10vh;
    right: 0;
    width: 50vw;
    height: 90vh;


    background: rgba(46, 67, 9, 0.813);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    transform: translateX(100%);
    transition: transform 300ms ease;
}

.nav-list.active {
    transform: translateX(0);
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/* ------- CORPO ------- */
.hero {
    height: 90vh;
    background-image: url(/assets/icons/paisagem.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 1rem;
    gap: 1rem;
}

.hero h1 {
    text-align: center;
    font-size: 2.5rem;
    color: white;
    color: rgba(255, 255, 255, 0.823);
}

.hero button {
    padding: 0.5rem 5rem;
    width: fit-content;
    align-self: center;
    font-size: 1.2rem;
    color: rgb(36, 36, 36);
    background: rgba(255, 255, 255, 0.52);
    border-radius: 5rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 1);
}

.hero button:hover {
    background: rgba(126, 126, 126, 0.52);
    border: 1px solid rgb(200, 200, 200);
    color: white;
}

.continents {
    padding: 5rem 1rem;
}

.continents h2 {
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.continents-container {
    background-color: white;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.continent {
    display: flex;
    flex-direction: column;
    flex-direction: center;
    align-items: center;
    border-radius: 1rem;
}

.img-container {
    max-width: 25rem;
    position: relative;
}

.continent img {
    width: 100%;
    object-fit: cover; 
    border-radius: 1rem;
}

.continent .description {
    position: absolute;
    bottom: 0;
    left: 0;
    
    background: rgba(126, 126, 126, 0.52);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);

    color: white;
    padding: 0.8rem 1.5rem;
    width: 100%; 
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}


@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@media (min-width: 550px) {
    .mobile-menu {
        display: none;
    }

    .nav-list {
        top: 0;
        position:relative;
        width: fit-content;
        height: 10vh;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        transform: translateX(0);
    }

}
@media (min-width:900px) {
    .hero h1 {
        font-size: 4rem;
    }
}

