* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero {
    height: 100vh;
    background-image: url(/assets/icons/paisagem.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 1rem;
    gap: 1rem;
}

.hero h1 {
    text-align: center;
    font-size: 2.5rem;
    color: white;
    color: rgba(255, 255, 255, 0.823);
}

.hero button {
    padding: 0.5rem 5rem;
    width: fit-content;
    align-self: center;
    font-size: 1.2rem;
    color: rgb(36, 36, 36);
    background: rgba(255, 255, 255, 0.52);
    border-radius: 5rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.hero button:hover {
    background: rgba(126, 126, 126, 0.52);
    border: 1px solid rgb(200, 200, 200);
    color: white;
}

.continents {
    padding: 0 1rem;
    padding-top: 5rem;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.continent {
    display: flex;
    flex-direction: column;
    flex-direction: center;
    align-items: center;
}

.img-container {
    width: 90%;
    position: relative;
    /* background-color: aqua; */
}

.continent img {
    width: 100%;
    object-fit: cover; 
    border-radius: 1rem;
}

.continent .description {
    position: absolute;
    bottom: 0;
    left: 0;
    
    background: rgba(126, 126, 126, 0.52);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);

    color: white;
    padding: 0.5rem 1rem;
    width: 100%; 
}
